# Shared options
id: 12345123-3456-012f-7654-1027e1212121
key: secret_key
parent_url: http://127.0.0.1:3000
proxy_url: http://127.0.0.1:4567
realm: Node Alchemy
module_compression: xz
log_cycle: daily

iso_path: /opt/powernode/isos
kernel_path: /opt/powernode/kernels
log_path: /opt/powernode/manager/log
module_path: /opt/powernode/modules
syslinux_path: /opt/powernode/syslinux
tmp_path: /opt/powernode/manager/tmp

smtp_from_email: support@nodealchemy.com
smtp_server: mail.powernode.net
smtp_port: 25
smtp_domain: nodealchemy.com
smtp_user_name:
smtp_password:
smtp_authentication:
smtp_enable_starttls_auto: true

ssl_chain_file: /opt/powernode/manager/certificate.pem
ssl_key_file: /opt/powernode/manager/certificate.key
ssh_key_path: /opt/powernode/manager/keys
ssh_port: 22

# Encryption options
encrypted_attributes: [aws_secret_access_key, ssh_key]
encryption_cipher: aes-256-cbc
encryption_key: insert_random_key_here
encryption_key_length: 64
encryption_prefix: "encrypted:"

# Redis configuration
redis_server: redis://localhost:6379/0
redis_namespace: alchemy

# Node configuration
api_url: "${PARENT}/api/v1/node/${ID}"
memory_dir: "${BASE_DIR}/memory"
modules_dir: "${UNION}${MEMORY}/modules"
branches_dir: "${UNION}${MEMORY}/branches"
changes_dir: "${UNION}${MEMORY}/changes"
ram_dir: "${UNION}${MEMORY}/ram"
volumes_dir: "${UNION}${MEMORY}/volumes"
checksum_bitlength: 256
checksum_util: sha256sum
loop_devices: 256
module_extension: .mo
module_info_extension: .info
module_update_extension: .update

# Poller configuration
poller_interval: 10
poller_logfile: poller.log
poller_loglevel: debug

# Proxy configuration
proxy_logfile: proxy.log
proxy_loglevel: debug
proxy_port: 4567
proxy_redirect: false

# Mailer configuration
mailer_log_file: mailer.log
mailer_log_level: debug

# Manager configuration
manager_cloud_error_limit: 3
manager_job_expiration: 3600
manager_job_retries: 0
manager_logfile: manager.log
manager_loglevel: debug
manager_queue: manager

# Store configuration
store_queue: store
store_logfile: store.log
store_loglevel: debug
store_job_expiration: 3600
store_job_retries: 1
