# Shared options
id: 12345123-3456-012f-7654-1027e1212121
key: secret_key
server_url: http://localhost:3000
enable_poller: false
enable_proxy: false
proxy_url:
realm: Node Alchemy
domain: example.com
module_compression: xz
checksum_bitlength: 256
instance_key_length: 32
data_expiration: 0:30:00
image_blocksize: 1024
init_dir: /opt/powernode/init
module_dir: /opt/powernode/store_modules
tmp_dir: /opt/powernode/agent/tmp

# Logging options (file)
log_facility: file
log_file: /var/log/powernode/agent.log
log_level: debug
log_trunc: false

# Logging options (rollingfile)
#log_facility: rollingfile
#log_file: /var/log/powernode/agent.log
#log_level: debug
#log_max_backups: 5
#log_maxtime: <%= 1.day %>
#log_maxsize: <%= 100.megabytes %>
#log_trunc: false

# Logging options (syslog)
#log_facility: syslog
#log_level: debug

# SMTP options
smtp_admin_email: admin@nodealchemy.com
smtp_from_email: support@nodealchemy.com
smtp_method: smtp
smtp_server: mail.powernode.net
smtp_port: 25
smtp_domain: nodealchemy.com
smtp_user_name:
smtp_password:
smtp_authentication:
smtp_enable_starttls_auto: true

# SSL options
ssl_enabled: true
ssl_chain_file: /opt/powernode/agent/dev.ipnode.net.pem
ssl_key_file: /opt/powernode/agent/dev.ipnode.net.key
ssh_key_dir: /opt/powernode/keys
ssh_port: 22

# Redis options
redis_namespace: alchemy
redis_server: redis://localhost:6379/0

# Node Poller options
poller_interval: <%= 10.seconds %>

# Node Proxy options
proxy_ip: 0.0.0.0
proxy_port: 4567

# Agent options
agent_cloud_error_limit: 3
agent_job_expiration: 3600
agent_job_retries: 0
agent_queue: agent

# Node Store options
store_job_expiration: 3600
store_job_retries: 1
store_queue: store
